{% extends 'base.html'%}
{% block title %}Create new Article{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Create an article.</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Post</button>
    </div>
{% else %}
    You must be logged in to access this URL, Please Register as a user, if you
    have registered before, then Please Log In.
{% endif %}

{% endblock content %}