{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Change your Password</h1>
    <div class="content-section">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">Change Password</button>
                
        </div>
        </form>
        <br/>
        <ul>
            <li>Your password can't be too similar to other personal information.</li>

            <li>Your password must contain at least 8 characters.</li>

            <li>Your password ca't be a commonly used password.</li>

            <li>Your password can't be entirely numeric</li>
        </ul>
    </div>

{% endblock content %}