{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small>Created by: {{ post.author.username }}</small>
            <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
            <form action="{% url 'post-like' post.pk %}" method="POST">
                {% csrf_token %}
                <br/>
                {% if user.is_authenticated %}
                    {% if liked %}
                        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm mt-1">
                            Unlike
                        </button>
                    {% else %}
                        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm mt-1">
                            Like
                        </button>
                    {% endif %}
                    - {{ total_likes }} Likes 
                {% endif %}
            </form>
            <a href="{% url 'site-home' %}" class="btn btn-primary float-right">Back</a>
            <br/>
            <br/>
        </div>
        <br/>
        <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
        <br>
        <p class="article-content">{{ post.content|safe }}</p>
        
        <br/>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'post-update' post.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endif %}
    </div>
</article>

{% endblock content %}